img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;
    height: 90px;
  }
  input[type=text] {
    width: 800px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
    background-color: white;
    background-image: url('/download.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }
  .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }